In [75]:
import pandas as pd
import os
import altair as alt

In [76]:
anos = [2000, 2002, 2004, 2006, 2008, 2010, 2012, 2015, 2017, 2019, 2022]

colunas_desejadas = ['Location', 'Time', 'AgeGrp', 'PopMale', 'PopFemale', 'PopTotal']

In [77]:
df_latamframes = []

for ano in anos:
    arquivo = f'WPP{ano}_PopulationByAgeSex_Medium.csv'
    caminho_arquivo = os.path.join('Pop', arquivo)
    df = pd.read_csv(caminho_arquivo, usecols=colunas_desejadas, low_memory=False)
    df['Ano'] = ano
    df_latamframes.append(df)

    
df_final = pd.concat(df_latamframes, ignore_index=True)

df = []

In [78]:
latam = [
    'Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Costa Rica', 'Cuba', 'Dominican Republic',
    'Ecuador', 'El Salvador', 'Guatemala', 'Honduras', 'Mexico', 'Nicaragua', 'Panama', 'Paraguay',
    'Peru', 'Puerto Rico', 'Uruguay', 'Venezuela'
]

In [79]:
df_latam = df_final.query('Location in @latam')
df_latam

          Location  Time AgeGrp  PopMale  PopFemale  PopTotal   Ano
10500    Argentina  1950    0-4  992.312    954.821  1947.133  2000
10501    Argentina  1950    5-9  867.028    842.523  1709.551  2000
10502    Argentina  1950  10-14  800.669    778.075  1578.744  2000
10503    Argentina  1950  15-19  796.290    771.676  1567.966  2000
10504    Argentina  1950  20-24  802.248    776.513  1578.761  2000
...            ...   ...    ...      ...        ...       ...   ...
8934442    Uruguay  2101  80-84   64.608     73.323   137.931  2022
8934443    Uruguay  2101  85-89   56.825     72.878   129.703  2022
8934444    Uruguay  2101  90-94   33.638     52.555    86.193  2022
8934445    Uruguay  2101  95-99   14.508     30.809    45.317  2022
8934446    Uruguay  2101   100+    4.278     15.969    20.247  2022

[527022 rows x 7 columns]

In [205]:
df_latam.to_csv("Base_Pop_Latam.csv")