In [1]:
import pandas as pd
import os

In [2]:
anos = [2000, 2002, 2004, 2006, 2008, 2010, 2012, 2015, 2017, 2019, 2022, 2024]

colunas_desejadas = ['Location', 'Time', 'AgeGrp', 'PopMale', 'PopFemale', 'PopTotal']

In [3]:
df_frames = []

for ano in anos:
    arquivo = f'WPP{ano}_PopulationByAgeSex_Medium.csv'
    caminho_arquivo = os.path.join('Pop_bases', arquivo)
    df = pd.read_csv(caminho_arquivo, usecols=colunas_desejadas, low_memory=False)
    df['Ano'] = ano
    df_frames.append(df)

    
df_final = pd.concat(df_frames, ignore_index=True)

df = []

In [4]:
locations = [
    # Global regions and categories
    'World',
    'More developed regions',
    'Less developed regions',
    'Least developed countries',
    'Low-income countries',
    'Lower-middle-income countries',

    # Continents and subregions
    'Africa',
    'Asia',
    'Latin America and the Caribbean',
    'Western Asia',
    'Eastern Europe',
    'Western Europe',
    
    # Economic and political unions
    'African Union',
    'BRICS',
    'Group of Twenty (G20)',
    
    # More and less developed regions by continent
    'More developed: Asia',
    'More developed: Europe',
    'More developed: Northern America',
    'More developed: Oceania',
    'Less developed: Africa',
    'Less developed: Asia',
    'Less developed: Latin America and the Caribbean',

    # Countries (alphabetically ordered)
    'Argentina',
    'Australia',
    'Bolivia',
    'Brazil',
    'Canada',
    'Chile',
    'China',
    'Colombia',
    'Costa Rica',
    'Cuba',
    'Dominican Republic',
    'Ecuador',
    'El Salvador',
    'France',
    'Germany',
    'Guatemala',
    'Honduras',
    'India',
    'Indonesia',
    'Italy',
    'Japan',
    'Mexico',
    'Nicaragua',
    'Panama',
    'Paraguay',
    'Peru',
    'Puerto Rico',
    'Russia',
    'Saudi Arabia',
    'South Africa',
    'South Korea',
    'Turkey',
    'United Kingdom',
    'United States',
    'Uruguay',
    'Venezuela'
]

In [5]:
df_selec = df_final.query('Location in @locations')
df_selec

        Location  Time AgeGrp     PopMale   PopFemale    PopTotal   Ano
2100      Africa  1950    0-4   18925.417   18850.521   37775.938  2000
2101      Africa  1950    5-9   14688.906   14771.105   29460.011  2000
2102      Africa  1950  10-14   12642.552   12759.028   25401.580  2000
2103      Africa  1950  15-19   11134.780   11198.513   22333.293  2000
2104      Africa  1950  20-24    9647.044    9721.064   19368.108  2000
...          ...   ...    ...         ...         ...         ...   ...
9989272    World  2101  80-84  183812.096  206112.701  389924.797  2024
9989273    World  2101  85-89  136410.124  161456.880  297867.004  2024
9989274    World  2101  90-94   75349.103   98610.594  173959.697  2024
9989275    World  2101  95-99   26792.916   41915.284   68708.200  2024
9989276    World  2101   100+    5702.166   12471.018   18173.184  2024

[1527262 rows x 7 columns]

In [6]:
df_selec.to_csv("Base_Pop_EM_24.csv")